@inherits CameraOverviewBase

<table id="cameraTableContainer">
    <tbody>
        <tr>
            <td>
                <CameraTable Id="column3" Title="Cameras 3" Cameras='_cameraColumns["column3"]'></CameraTable>
            </td>
            <td>
                <CameraTable Id="column5" Title="Cameras 5" Cameras='_cameraColumns["column5"]'></CameraTable>
            </td>
            <td>
                <CameraTable Id="column15" Title="Cameras 3 &amp; 5" Cameras='_cameraColumns["column15"]'></CameraTable>
            </td>
            <td>
                <CameraTable Id="columnOther" Title="Cameras Overig" Cameras='_cameraColumns["columnOther"]'></CameraTable>
            </td>
        </tr>
    </tbody>
</table>
