@page "/"
@inherits IndexBase

<h1>Security cameras Utrecht</h1>
<div id="map"></div>
<div id="source">
    Source:
    <a href="https://data.overheid.nl/data/dataset/camera-s">https://data.overheid.nl/data/dataset/camera-s</a>
</div>
<main>
    <GeoCam.Web.Components.CameraOverview Cameras="Cameras"></GeoCam.Web.Components.CameraOverview>
</main>
